/* src/index.css */
:root {
  --primary-color: #FF6B00; /* Um laranja apetitoso para comida */
  --text-dark: #333333;
  --bg-color: #F9F9F9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-dark);
  -webkit-font-smoothing: antialiased;
}